/** @format */

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.collection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem 0rem 0rem 0rem;
}
.button {
    background-color: #0ab1df;
    color: #ffffff;
    width: 6rem;
    border: 0px solid;
    height: 2rem;
    margin: 0.5rem 0.5rem 0rem 0.5rem;
}
.todos {
    display: flex;
    flex-direction: column;
    width: 20rem;
    border: 1px solid #c3c9d4;
    border-radius: 10px;
    height: auto;
}
.button-absolute {
    position: relative;
    /* top: 7rem; */
    left: 8rem;
    border-radius: 25px;
    width: 2rem;
}
.app {
    display: flex;
    width: auto;
    height: 60rem;
    justify-content: center;
}
